<h1>My tasks</h1>
<div>
  <ul>
    <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
    <% end %>
  </ul>
</div>
<p><%= link_to "Create a new task", tasks_new_path %></p>
